
body{
	margin-top:30px;
	background-color: ghostwhite;
}
nav{
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 28px;
	
}

a{
	margin:20px;
	color: white;
}

a.nounderline{
	text-decoration:none;
}

h1{
	font-size: 25px;
	font-family: 'Trebuchet MS', sans-serif;

}

p{
	font-size:18px;
	font-family: 'Trebuchet MS', sans-serif;
}

.hero-image{
	background-color: rgba(0, 0, 0, 0.3);
	background-image: url("Images/backofschool.jpg");
	background-position-y:-350px;
	background-size: 1080px 720px;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode:darken;
}

.text{
	text-align: left;
	filter: drop-shadow(0px 0px 20px black);
	font-size: 50px;
	color: white;
}


img.bgrd{
	vertical-align:middle;
}
	

h2{
	font-size:24px;
}

.nav-and-logo{
	background-color: MidnightBlue;
	padding: 20px;
	color: white;

}

.navbar{
	margin-left: 120px;
	margin-right: 120px;
	overflow: hidden;
	margin-left:10px;
}

.nav{
	float: left;
}



background-color: hsl(253,100%, 91%);
